@import "@kv-designsystem/theme/blue";
@layer theme, base, components, designsystem, utilities;
@import "tailwindcss";
@import "@digdir/designsystemet-css" layer(designsystem);
@import "@kv-designsystem/css/components.css" layer(designsystem);

@theme {
  --color-kv-subtle: var(--ds-color-neutral-text-subtle);
  --color-kv-default: var(--ds-color-neutral-text-default);
  --color-kv-border: var(--ds-color-neutral-border-subtle);
  --color-kv-surface: var(--ds-color-neutral-background-default);
  --color-kv-gray: var(--ds-color-neutral-background-tinted);
  --color-kv-blue: var(--ds-color-accent-base-default);
  --color-kv-blue-subtle: var(--ds-color-accent-surface-tinted);
  --color-kv-green: var(--ds-color-success-base-default);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-feature-settings: "cv05" 1;
}
